/*topaLE Jellyfin Custom.css BlueDark */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap') ;
.playedIndicator {
background : #54b307;
}
html {
font-family : 'Titillium Web', Noto Sans, sans-serif;
}
h1, h2, h3, html {
font-family : 'Titillium Web', Noto Sans, sans-serif;
}
.skinHeader-withBackground {
background-color : #0c121a;
}
.visualCardBox {
background-color : #0c121a;
}
.appfooter, .playlistSectionButton {
background : #0c121a;
color : #ccc;
color : hsl(0 0% 100% / 0.78);
}
.detailRibbon {
background : #0c121a;
}
.mainDrawer {
background-color : #0c121a !important ;
}
.wizardStartForm {
background-color : #0c121a;
}
html {
background-color : #0c121a !important ;
}
.emby-tab-button.show-focus:focus, .emby-tab-button:hover {
color : #ffb05c;
}
.paper-icon-button-light:hover:not(:disabled) {
color : #ffb05c;
background-color : #101929;
}
.paper-icon-button-light.show-focus:focus {
color : #ffb05c;
}
.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused {
color : #ffb05c;
}
.paperList, .visualCardBox {
background-color : #131619;
}
.content-primary {
background-color : #0c121a;
}
.emby-select-withcolor {
background : #090e16;
border : #292929 solid 0.07em;
}
.emby-select-withcolor > option {
background: #1e334a;
}
.emby-input, .emby-textarea {
color: #fff;
background: #141b26;
border: #0c121b solid 1px;
border-radius: 0.2em;
}
.navMenuOption-selected {
background : #101929 !important ;
color : #fff;
}
.button-submit {
background : #101929;
color : #fff;
}
.filterButtonBubble {
color : #fff;
background : #ffb05c;
}
.backgroundContainer, .dialog, .nowPlayingContextMenu, .nowPlayingPlaylist, html {
background-color : #090e16;
}
.formDialogHeader:not(.formDialogHeader-clear), .paperList, .visualCardBox {
background-color : #090e16;
}
.sectionTabs {
font-size : 97.5%;
font-weight : 300 !important ;
font-family : 'Titillium Web', Noto Sans, sans-serif;
}
.cardOverlayContainer {
border : #2b2f2f solid 3px;
}
.itemName.parentNameLast.withOriginalTitle {
margin : 0;
padding-top : 7px;
}
.paperList, .visualCardBox {
background-color : #090e16;
}
.formDialogFooter:not(.formDialogFooter-clear), .formDialogHeader:not(.formDialogHeader-clear) {
background-color: #080b0e;
}
.button-flat:hover, .button-link {
color : #ffb05c;
}
.emby-button {
font-weight : 300;
}
progress::-moz-progress-bar {
background-color : #101929;
}
.fab, .raised {
background : #0b1422;
color : hsl(0 0% 100% / 0.87);
}
.navMenuOption:hover {
background : #101929;
}
.actionSheetMenuItem:hover {
background-color : #101929;
}
.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {
background-color : #101929;
}
.emby-checkbox:checked + span + .checkboxOutline {
border-color : #090e16;
}
.emby-select-withcolor {
background : #172131;
border : #292929 solid 0.07em;
}
.checkboxOutline {
background-color : #b7bdc6;
border : #444a54 solid 1px;
}
.button-accent-flat {
color : #ffb05c !important ;
}
div[data-role="controlgroup"] a.ui-btn-active {
background: #101929 !important;
color: #fff !important;
}
.mediaInfoOfficialRating {
border-color: #060d14;
}
.emby-select-withcolor {
background: #141b26;
border: #292929 solid 0.07em;
}
a[data-role="button"] {
background: #090e16 !important;
}
.centerMessage {
font-size: 20px;
}
.emby-select-withcolor:focus {
border-color: #1f2a35 !important;
}
.playstatebutton-icon-played {
color: #3f8b14;
}
.swiper-theme-color {
background-color: #7589a0;
}
.collapseContent {
background-color: #101929;
}
.listItemIcon:not(.listItemIcon-transparent) {
background-color: #101929 !important;
}
.emby-checkbox:checked+span+.checkboxOutline, .itemProgressBarForeground {
background-color: #ef9626 !important;
}
.progressring {
color:#ef9626 !important; 
}
.mediaInfoOfficialRating {
background-color: #191a1d;
}
.infoBanner {
color: #ddd;
background: #1d2023;
}
.detailPageWrapperContainer {
text-align: justify;
}
.listItemImage {
border: #1c1e22 solid 3px;
border-radius: 3px;
}
.listItemBodyText {
text-align: justify;
}
.countIndicator, .fullSyncIndicator {
background: #354044;
}
.sessionCardFooter {
border-top: 1px solid #222427;
}
* {
scrollbar-color: #101929 #353c45;
}
.searchSuggestionsList {
border: 1px solid #212121;
border-radius: 2px;
background-color: #0d141e;
margin-left: 70px;
margin-right: 70px;
font-size: 22px;
}
.detailLogo {
top: 8vh;
}
.programCell-active {
background: #0f1623 !important;
}
.guideDateTabsSlider {
margin-top: 10px;
}
.guide-date-tab-button.emby-tab-button-active {
color: #47546e;
}
.newTvProgram {
background: #42596b;
}
.scrollSlider.flex.flex-grow.flex-direction-row {
background: #0a1019;
}
.toast {
background:#4ba502;
color:#fff;
color:hsla(0,0%,100%,.87)
}
.visualCardBox {
background-color: #0b1019;
}
p.disclaimer {
color: #6E6D6C;
font-size:12px;
}
.detail-clamp-text {
background-color: #0b0c0e;
padding: 5px;
border: 1px solid #2b2b2b;
border-radius: 2px;
}
a.overview-expand.emby-button {
background-color: #0b0c0e;
border: 1px solid #2b2b2b;
border-radius: 2px;
margin-right: 0;
}
p.overview {
background-color: #0b0c0e;
padding: 5px;
border: 1px solid #2b2b2b;
border-radius: 2px;
}
.itemTags {
background-color: #0b0c0e;
padding: 5px;
border: 1px solid #2b2b2b;
border-radius: 2px;
font-size: 80% !important;
}
a.button-link.emby-button {
background-color: #0b0c0e;
padding: 5px;
border: 1px solid #2b2b2b;
border-radius: 2px;
}
.cardScalable {
border: 1px solid #2b2b2b;
}
